@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

div {
    display: block;
}

body {
    background: url(../picture/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: flex;
}

*::-webkit-scrollbar {
    display: none;
}

.qrcode {
    margin-top: -30vh;
}

canvas {
    margin-bottom: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mali', sans-serif; 
}

h1 {
    color: #ffffff;
}

.generateqr {
    justify-content: center;
    padding: 0;
    margin-top: 15vh;

}

.head-activity {
    margin-top: 5vh;
    margin-bottom: 40vh;
}

.input-wrapper input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 13em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    text-align: center;
    
}

.input-wrapper input:focus {
    outline-color: lightcoral;
}

.gen {
    outline: none;
    color: #DAA06D;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border: 2px dashed #DAA06D;
    border-radius: 15px;
    background-color: #EADDCA;
    box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
}

.gen:active {
    transform: translateX(0.1em) translateY(0.1em);
    box-shadow: 0 0 0 4px #EADDCA, 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
}