@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    box-sizing: border-box;
}

body{
    background: url("../picture/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: flex;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mali', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.row {
    margin-top: 15vh;
}

.column1 {

    float: left;
    width: 20%;
    margin-bottom: 32px;
    padding: 0 5vh;
    margin-top: 2%;
}

.card {
    width: 190px;
    height: 254px;
    padding: .8em;
    background: #384358;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgb(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
}

.card-img {
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
}

.img-card {
    width:164px;
    border-radius: 4px;
    height: 105px;
}

.card-info {
    padding-top: 10%;
}

svg {
    width: 20px;
    height: 20px;
}


.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd
}

.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
    background: linear-gradient(90deg, #866ee7, #ea60da, #ed8f57, #fbd41d, #2cca91);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.text-body {
    font-size: .9em;
    padding-bottom: 10px;
    color: white;
}

.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

.card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(266, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
}

input[type=text] , .telphone{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inlin-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, .telphone:focus {
    background-color: #ddd;
    outline: none;
}

#yes {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

#no {
    background-color: #f44336;
    padding: 14px 20px;
    color: white;
    margin: 8px 0;
    border: none;
    width: 100%;
    float: left;
    width: 50%;
}

.container {
    padding: 16px;
}

.gifform {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(10px);
    padding-top: 50px;
}

.form {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 400px;
    border-radius: 8px;
    margin-top: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

hr {
    border: 1px solid #f1f1f1
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@keyframes modalopen {
    from {opacity: 0; transform: translateY(-50px);}
    to {opacity: 1; transform: translateY(0);}
}

.form {
    animation-name: modalopen;
    animation-duration: 0.5s;
}



/* หน้าจอขนาดกลาง (2 card ต่อแถว) */
@media (min-width: 489px) and (max-width: 787px) {
    .column1 {
        width: 45%; /* จัดให้มี 2 column */
    }
}

/* หน้าจอขนาดเล็ก (1 card ต่อแถว) */
@media (min-width: 377px) and (max-width: 486px) {
    .column1 {
        width: 40%; /* จัดให้มี 1 column */
    }
}

@media (max-width: 376px) {
    .row {
        margin-top: 17vh;
    }

    h2 {
        padding-bottom: 2vh;
    }
    
    .column1 {
        width: 50%;
        height: 30vh;
        padding: 0 2vh;
        box-sizing: border-box;
        
    }

    .card {
        width: 25vh;
        height: 33vh;
    }

    .img-card {
        width: 20.99vh;
        height: 11.8vh;
    }

    .card-info {
        margin-top: -1vh;
    }

    .text-title {
        font-size: 17px;
    }

    .text-body {
        font-size: 12px;
    }

    @media (min-height: 700px) {
        .row {
            margin-top: 13.5vh;
        }
        
        .card {
            width: 20vh;
            height: 29vh;
        }

        .column1 {
            width: 23vh;
            height: 26vh;
            padding: 0 1.7vh;
            box-sizing: border-box;
        }

        .img-card {
            width: 17vh;
            height: 10.33vh;
        }

        .card-info {
            margin-top: -1vh;
        }
    
        .text-title {
            font-size: 21px;
        }
    
        .text-body {
            font-size: 16px;
        }
    }
}


@media (min-width: 377px) and (max-width: 486px) {
    .row {
        margin-top: 17vh;
    }

    h2 {
        padding-bottom: 2vh;
    }
    
    .column1 {
        width: 50%;
        height: 30vh;
        padding: 0 2vh;
        box-sizing: border-box;
        
    }

    .card {
        width: 25vh;
        height: 33vh;
    }

    .img-card {
        width: 20.99vh;
        height: 11.8vh;
    }

    .card-info {
        margin-top: -1vh;
    }

    .text-title {
        font-size: 17px;
    }

    .text-body {
        font-size: 12px;
    }

    @media (min-height: 700px) {
        .row {
            margin-top: 13.5vh;
        }
        
        .card {
            width: 20vh;
            height: 29vh;
        }

        .column1 {
            width: 23vh;
            height: 26vh;
            padding: 0 1.7vh;
            box-sizing: border-box;
        }

        .img-card {
            width: 17.1vh;
            height: 10.39vh;
        }

        .card-info {
            margin-top: -1vh;
        }
    
        .text-title {
            font-size: 23px;
        }
    
        .text-body {
            font-size: 18px;
        }
    }
}
