@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

div {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mali', sans-serif;
}

body {
    background: url("../picture/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: flex;
}

body::-webkit-scrollbar {
    display: none;
}

.profile-container {
    max-width: 1000px; 
    margin: 0 auto;
    padding-top: 10vh;
}

.box {
    background-color: #03002C;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #BB0029;
    width: 100%;
}
.box:hover {
    transform: scale(1.02);
}



.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* เพิ่ม flex-wrap เพื่อให้เลื่อนลงเมื่อพื้นที่ไม่เพียงพอ */
}

.profile-details {
    display: flex;
    align-items: center;
}

.profileuser {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px; 
    border: 3px solid #F2E8C6;
}

.profile-info h2 {
    font-size: 1.8em;
    color: #f39c12;
}

.profile-info p {
    font-size: 1.2em;
    margin-top: 5px;
}

.stats-box h3, .activity-box h3, .news-box h3 {
    color: #f39c12;
    margin-bottom: 10px;
}


ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

#ac {
    color: white;
}

#point, #badges-count, #badges-count, #total-points ,#completed-quests {
    color:white;
}

.news-content {
    background-color: #070A52;
    padding: 10px;
    border-radius: 5px;
    height: 400px;
    overflow-y: auto;
    border: 1px solid #f39c12;
    overflow: auto;
}

.news-content::-webkit-scrollbar {
    display: none;
}

.content-row {
    display: flex;
    flex-wrap: wrap; /* เพิ่ม flex-wrap เพื่อให้มีการเลื่อนลงเมื่อพื้นที่ไม่เพียงพอ */
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 20px;
}

.news-box {
    flex: 1;
    width: 690px; /* เพิ่มขนาดขั้นต่ำเพื่อให้เป็น responsive */

}

.stats-box, .activity-box {
    width: 100%;
    margin-bottom: 20px;
}

.edit-profile-btn {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.edit-profile-btn:hover {
    background-color: #c0392b;
}

.respon-qr-homepage {
    display: none;
}

.content-respon {
    display:none
}

.achive-respon, .stats-respon, .scanner-respon {
    display: none;
}

@media (max-width: 376px) {
    .content {
        display: none;
    }

    .achive-respon, .stats-respon, .scanner-respon {
        display: block;
    }

    .scanner-respon:active, .achive-respon:active, .stats-respon:active {
        background-color: #BB0029;
    }

    .content-respon {
        display: block;
        justify-content: center;
        text-align: center;
        line-height: 3vh;
        margin-top: -20vh;
    }

    @media (min-height: 700px) {
        .content-respon {
            margin-top: -35vh;
        }

        .achive-respon , .stats-respon, .scanner-respon{
            transform: translateY(-12vh);
        }

        .acitivity-respon {
            transform: translateY(-30vh);
        }

        .achive-respon {
            margin-top: -35rem;
        }
    }

    .profile-respon {
        background-color: #03002C;
        backdrop-filter: blur(50px);
        padding: 40px;
        padding-top: 10vh;
        border-radius: 10px;
        border: 2px solid #BB0029;
    }

    .profileuser-respon {
        width: 150px;
        height: 150px;
        margin-top: -4vh;
        margin-bottom: 4vh;
        border-radius: 10px;
        border: 2px solid #f39c12;
    }

    .edit-profile-respon {
        border: none; 
        background: none; 
        padding: 0;
    }

    .profile-info-respon h2{
        font-size: 1.8em;
        color: #f39c12;
    }

    .profile-info-respon p {
        font-size: 1.5em;
        color: white;
    }

    .edit-profile-btn-respon {
        padding: 10px 20px;
        background-color: #e74c3c;
        margin-top: 4vh;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;
        transition: background-color 0.3s ease;
    }

    .achive-respon {
        text-align: center;
        background: #03002C;
        height: 8vh;
        width: 92%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .activity-respon {
        width: 100%;
        height: 100%;
        text-align: center;
        border-radius: 10px;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: -35vh;
        border-radius: 10px;
        border: 2px solid #f39c12;
    }

    .achive-text {
        color: white;
    }

    .achive-svg {
        width: 30px;
        height: 30px;
    }

    .stats-respon {
        text-align: center;
        background: #03002C;
        height: 8vh;
        width: 92%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .stats-btn {
        width: 100%;
        height: 100%;
        text-align: center;
        border-radius: 10px;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 2vh;
        border-radius: 10px;
        border: 2px solid #f39c12;
    }

    .stats-text {
        color: white;
    }

    .stats-svg {
        width: 30px;
        height: 30px;
    }

    .scanner-respon {
        text-align: center;
        background: #03002C;
        height: 8vh;
        width: 92%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .scanner-btn {
        width: 100%;
        height: 100%;
        text-align: center;
        border-radius: 10px;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 2vh;
        border-radius: 10px;
        border: 2px solid #f39c12;
    }

    .scanner-text {
        color: white;
    }

    .scanner-svg {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 377px) and (max-width: 427px) {
    .content {
        display: none;
    }

    .achive-respon, .stats-respon, .scanner-respon {
        display: block;
    }

    .scanner-respon:active, .achive-respon:active, .stats-respon:active {
        background-color: #BB0029;
    }

    .content-respon {
        display: block;
        justify-content: center;
        text-align: center;
        line-height: 3vh;
        margin-top: -20vh;
    }

    @media (min-height: 700px) {
        .content-respon {
            margin-top: -35vh;
        }

        .achive-respon , .stats-respon, .scanner-respon{
            transform: translateY(-12vh);
        }

        .acitivity-respon {
            transform: translateY(-30vh);
        }

        .achive-respon {
            margin-top: -35rem;
        }
    }

    .profile-respon {
        background-color: #03002C;
        backdrop-filter: blur(50px);
        padding: 50px;
        padding-top: 10vh;
        border-radius: 10px;
        border: 2px solid #BB0029;
    }

    .profileuser-respon {
        width: 150px;
        height: 150px;
        margin-top: -4vh;
        margin-bottom: 4vh;
        border-radius: 10px;
        border: 2px solid #f39c12;
    }

    .edit-profile-respon {
        border: none; 
        background: none; 
        padding: 0;
    }

    .profile-info-respon h2{
        font-size: 1.8em;
        color: #f39c12;
    }

    .profile-info-respon p {
        font-size: 1.5em;
        color: white;
    }

    .edit-profile-btn-respon {
        padding: 10px 20px;
        background-color: #e74c3c;
        margin-top: 4vh;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;
        transition: background-color 0.3s ease;
    }

    .achive-respon {
        text-align: center;
        background: #03002C;
        height: 8vh;
        width: 92%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .activity-respon {
        width: 100%;
        height: 100%;
        text-align: center;
        border-radius: 10px;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: -35vh;
        border-radius: 10px;
        border: 2px solid #f39c12;
    }

    .achive-text {
        color: white;
    }

    .achive-svg {
        width: 30px;
        height: 30px;
    }

    .stats-respon {
        text-align: center;
        background: #03002C;
        height: 8vh;
        width: 92%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .stats-btn {
        width: 100%;
        height: 100%;
        text-align: center;
        border-radius: 10px;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 2vh;
        border-radius: 10px;
        border: 2px solid #f39c12;
    }

    .stats-text {
        color: white;
    }

    .stats-svg {
        width: 30px;
        height: 30px;
    }

    .scanner-respon {
        text-align: center;
        background: #03002C;
        height: 8vh;
        width: 92%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .scanner-btn {
        width: 100%;
        height: 100%;
        text-align: center;
        border-radius: 10px;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 2vh;
        border-radius: 10px;
        border: 2px solid #f39c12;
    }

    .scanner-text {
        color: white;
    }

    .scanner-svg {
        width: 30px;
        height: 30px;
    }
}

