@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

.btn-out a, .btn-out, .nav .nav-menu ul li a{
    font-family: 'Mali', sans-serif;
}

.logoschool {
    padding-top: 15px;
}

.nav-menu-btn {
    display: none;
}

.respon-link {
    display: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
    transition: opacity 0.5s ease, top 0.5s ease;
}

.nav-menu ul {
    display: flex;
    font-family: 'Mali', sans-serif;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li a {
    font-family: 'Mali', sans-serif;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #FFB031;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover {
    border-bottom: 2px solid #FFB031;
}

.link::after {
    border-bottom: 2px solid #fff;
}

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

.btn-out {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.out {
    text-decoration: none;
    color: black;
}

.btn-out:hover {
    background: rgba(255, 255, 255, 0.3);
}

.content {
    margin-bottom: 50px;
    padding: 30px;
}

@media (max-width: 376px) {
    .nav-button {
        display: none;
    }

    .nav {
        display: flex;
        align-items: center; 
        backdrop-filter: blur(20px);
        background-color: #BB0029;
        width: 95%;
        padding: 10px 40px;
        border-radius: 10px;
        justify-content: space-between;
        height: 11.5vh;
        line-height: 60px;
        margin-top: 20px;
    }

    .logoschool, .nav-menu-btn i {
        display: flex;
        text-align: center;
    }

    .logoschool {
        width: 45px;
        height: 70px;   
        margin-top: -2vh;
    }

    .nav-menu-btn i {
        font-size: 24px;
        color: #fff;
        cursor: pointer;
        transition: .3s;
        z-index: 1000;
    }

    .respon-link {
        display: block;
    }

    .nav-menu.responsive {
        top: 100px;
    }
    
    .nav-menu {
        position: absolute;
        top: 1000vh;
        display: flex;
        background-color: rgba(255, 255, 255, 0.9); 
        backdrop-filter: blur(100px); 
        width: 100%;
        height: 68vh;
        border-radius: 15px;
        transition: .3s;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -2vh;
        left: 0.2%;
    }

    @media (min-height: 700px) {
        .nav-menu {
            height: 54vh;
            margin-top: -1.2vh;
        }

        .nav {
            height: 9vh;
        }

        .logoschool {
            width: 45px;
            height: 70px;
        }

        .nav-menu-btn i {
            font-size: 26px;
        }
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
        margin-top: 2vh;
    }

    .nav-menu ul li {
        width: 100%;
        gap: 100rem;
        font-weight: 500;
        font-size: 28px;
        margin-bottom: 10px;
        line-height: 2;
    }

    .nav-menu ul li .link {
        color: #BB0029;
    }
    
    .nav-menu ul li .link:hover {
        text-decoration: none;
    }

    .nav-menu-btn {
        display: block;
    }

    .respon-qr, .respon-out {
        background: #fbca1f;
        padding: 0.6em 1.3em;
        font-weight: 900;
        font-size: 24px;
        border: 3px solid black;
        border-radius: 10px;
        cursor: pointer;
        width: 19rem;
        margin-bottom: 5px;
        color: #BB0029;
    }

    .respon-out a{
        text-decoration: none;
        color: #BB0029;
    }
    
    .respon-link:active {
        transform: translate(0.05em, 0.05em);
        box-shadow: 0.05em 0.05em;
    }
}

@media (min-width: 377px) and (max-width: 426px) {
    .nav-button {
        display: none;
    }

    .nav {
        display: flex;
        align-items: center; 
        backdrop-filter: blur(20px);
        background-color: #BB0029;
        width: 95%;
        padding: 10px 40px;
        border-radius: 10px;
        justify-content: space-between;
        height: 11.5vh;
        line-height: 60px;
        margin-top: 20px;
    }

    .logoschool, .nav-menu-btn i {
        display: flex;
        text-align: center;
    }

    .logoschool {
        width: 45px;
        height: 70px;   
        margin-top: -2vh;
    }

    .nav-menu-btn i {
        font-size: 24px;
        color: #fff;
        cursor: pointer;
        transition: .3s;
        z-index: 1000;
    }

    .respon-link {
        display: block;
    }

    .nav-menu.responsive {
        top: 100px;
    }
    
    .nav-menu {
        position: absolute;
        top: 1000vh;
        display: flex;
        background-color: rgba(255, 255, 255, 0.9); 
        backdrop-filter: blur(100px); 
        width: 100%;
        height: 68vh;
        border-radius: 15px;
        transition: .3s;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -2vh;
        left: 0.2%;
    }

    @media (min-height: 700px) {
        .nav-menu {
            height: 54vh;
            margin-top: -1.2vh;
        }

        .nav {
            height: 9vh;
        }

        .logoschool {
            width: 45px;
            height: 65px;
        }

        .nav-menu-btn i {
            font-size: 26px;
        }
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
        margin-top: 2vh;
    }

    .nav-menu ul li {
        width: 100%;
        gap: 100rem;
        font-weight: 500;
        font-size: 28px;
        margin-bottom: 10px;
        line-height: 2;
    }

    .nav-menu ul li .link {
        color: #BB0029;
    }
    
    .nav-menu ul li .link:hover {
        text-decoration: none;
    }

    .nav-menu-btn {
        display: block;
    }

    .respon-qr, .respon-out {
        background: #fbca1f;
        padding: 0.6em 1.3em;
        font-weight: 900;
        font-size: 24px;
        border: 3px solid black;
        border-radius: 10px;
        cursor: pointer;
        width: 19rem;
        margin-bottom: 5px;
        color: #BB0029;
    }

    .respon-out a{
        text-decoration: none;
        color: #BB0029;
    }
    
    .respon-link:active {
        transform: translate(0.05em, 0.05em);
        box-shadow: 0.05em 0.05em;
    }
}

@media (min-width: 427px) and (max-width: 768px) {
    .nav-button {
        display: none;
    }

    .nav {
        display: flex;
        align-items: center; 
        backdrop-filter: blur(20px);
        background-color: #BB0029;
        width: 95%;
        padding: 10px 40px;
        border-radius: 10px;
        justify-content: space-between;
        height: 11.5vh;
        line-height: 60px;
        margin-top: 20px;
    }

    .logoschool, .nav-menu-btn i {
        display: flex;
        text-align: center;
    }

    .logoschool {
        width: 45px;
        height: 70px;   
        margin-top: -2vh;
    }

    .nav-menu-btn i {
        font-size: 24px;
        color: #fff;
        cursor: pointer;
        transition: .3s;
        z-index: 1000;
    }

    .respon-link {
        display: block;
    }

    .nav-menu.responsive {
        top: 100px;
    }
    
    .nav-menu {
        position: absolute;
        top: 1000vh;
        display: flex;
        background-color: rgba(255, 255, 255, 0.9); 
        backdrop-filter: blur(100px); 
        width: 100%;
        height: 68vh;
        border-radius: 15px;
        transition: .3s;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -2vh;
        left: 0.2%;
    }

    @media (min-height: 700px) {
        .nav-menu {
            height: 53vh;
            margin-top: -1.2vh;
        }


        .nav {
            height: 9vh;
        }

        .logoschool {
            width: 45px;
            height: 65px;
        }

        .nav-menu-btn i {
            font-size: 26px;
        }
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
        margin-top: -5vh;
    }

    .nav-menu ul li {
        width: 100%;
        gap: 100rem;
        font-weight: 500;
        font-size: 28px;
        margin-bottom: 10px;
        line-height: 2;
    }

    .nav-menu ul li .link {
        color: #BB0029;
    }
    
    .nav-menu ul li .link:hover {
        text-decoration: none;
    }

    .nav-menu-btn {
        display: block;
    }

    .respon-qr, .respon-out {
        background: #fbca1f;
        padding: 0.6em 1.3em;
        font-weight: 900;
        font-size: 24px;
        border: 3px solid black;
        border-radius: 10px;
        cursor: pointer;
        width: 19rem;
        margin-bottom: 5px;
        color: #BB0029;
    }

    .respon-out a{
        text-decoration: none;
        color: #BB0029;
    }
    
    .respon-link:active {
        transform: translate(0.05em, 0.05em);
        box-shadow: 0.05em 0.05em;
    }
}